/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require twitter/bootstrap
 *= require font-awesome
 *= require_tree .
 */
.container-fluid{
  width: 100%;
  padding: 0 15px;
}
span.h2{
  margin: 0px;
  padding: 15px 0px;
  font-weight: 300;
  letter-spacing: 5px;
  color: #2c3e50;
  font-size: 40px;
  text-transform: uppercase;
}