@screen-xs-max: 768px;
// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/
.toggle{
  background: white;
  position: fixed;
  right: 0px;
  margin: 5px;
  padding: 5px 5px 0px 5px;
  border: 2px solid #ecf0f1;
  z-index: 1000;
  i{
    color: #ecf0f1;
  }
}
.sidebar{
  position: fixed;
  background: #ecf0f1;
  height: 100vh;
  padding: 15px 15px;
  overflow: hidden;
  h1{
    color: #2c3e50;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0px;
  }
  ul.nav{
    margin: 15px 0px;   
    padding: 0px;
    list-style: none;
    li{
      a{
        padding: 7px;
        font-weight: 100;
        color: #2c3e50;
        text-decoration: none;
        letter-spacing: 2px;
        font-size: 18px;
      }
      a:hover{
        color: #e74c3c;
        background: none;
      }
    }
    li.active{
      a{
        color: white;
      }
      background: #e74c3c;
    }
  }

}
.content{
  overflow: auto;
}
.section{
  min-height: 100vh;
}
@media (max-width: @screen-xs-max) {
  body .sidebar{
    position: fixed;
    z-index: 999;
  }
}


