.section{
  padding: 15px 0px;
  h2{
    margin: 0px;
    padding: 15px 0px;
    font-weight: 300;
    letter-spacing: 5px;
    color: #2c3e50;
    font-size: 40px;
    text-transform: uppercase;
  }
  h4{
    margin: 0px;
    padding: 15px 0px;
    font-weight: 300;
    letter-spacing: 5px;
    color: #2c3e50;
  }

  p{
    color: #2c3e50;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 20px;
  }
}
.center{
  width: 3000px;
  display: table-cell;
  height: 100vh;
  vertical-align: middle;
}