<!DOCTYPE html>
<html>
<head>
  <title>SutthidaGem</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body data-spy="scroll" data-target=".sidebar">
  <div class="toggle visible-xs" data-toggle="off">
    <i class="fa fa-align-justify fa-3x"></i>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 sidebar hidden-xs">
        <h1>SUTTHIDA'S GEMS</h1>
        <ul class="nav">
          <li><a href="#welcome">home</a></li>
          <li><a href="#collection">collection</a></li>
          <li><a href="#about">about</a></li>
          <li><a href="#contact">contact</a></li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 content">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
